.target {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: 2px solid black;
    padding: 20px;
}

.target input {
    font-size: medium;
    border: 2px solid black;
    width: 500px;
    margin-top: 5px;
}

.target label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
}

.target button {
    margin-top: 15px;
    font-size: 18px;
    border-radius: 10px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;

}
