h1 {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    border: 2px solid rgb(161, 40, 31);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 120px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 8px;
}

.card h3,
.card h4,
.card h5 {
    margin: 3px 0;
    color: #5a5a5aed;
    font-size: 1.5rem;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin-bottom: 15px;
}