<main>
    <h1>Perfiles de Usuarios</h1>
    {{#each usersList}}
    <div class="card">
        <h2>{{this.nombre}}</h2>
        <h3>Edad: {{this.edad}}</h3>
        <h4>Correo: {{this.email}}</h4>
        <h5>Teléfono: {{this.numero}}</h5>
    </div>
    {{/each}}
</main>